.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 50%);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    margin: auto;
    background-color: #fff;
    transition: opacity 2s, visibility 2s linear;
}