.profile__container-image {
    width: 168.75px;
    height: 127.5px;
    display: flex;
    align-items: center;
}

@media (max-width: 1079px) {
    .profile__container-image {
        align-self: center;
        width: 127.5px;
        height: 127.5px;
        padding-top: 38.25px;
    }
}