.popup__header {
    color: #000;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding: 34px 64px 0px 36px;
}

@media (max-width: 767px) {
    .popup__header {
        font-size: 18px;
        line-height: 22px;
        width: 238px;
        padding: 25px 22px 27px 22px;
    }
}