.profile__main-row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 18px;
}

@media (max-width: 1079px) {
    .profile__main-row {
        justify-content: center;
        margin-top: 25px;
        column-gap: 15.25px;
    }
}