.profile__pencil {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-image: url("../../../images/pencil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    align-self: center;
}