.profile__description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 1079px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        margin: auto;
        text-align: center;
        vertical-align: bottom;
        max-width: 282px;
    }
}