.popup__close-icon {
    width: 32px;
    height: 32px;
    border-color: #fff;
    background-color: transparent;
    background-image: url("../../../images/ClosIcon.svg");
    background-position: center;
    background-size: 32px auto;
    background-repeat: no-repeat;
    border: none;
    align-self: flex-start;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        background-size: 20px auto;
        top: -36px;
        right: 0px;
    }
}

.popup__close-icon:hover {
    opacity: 60%;
}