.profile__main-column {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

@media (max-width: 1079px) {
    .profile__main-column {
        row-gap: 0px;
    }
}